################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Shift_Picker_Api
*.suo
*.user
_ReSharper.*
bin
obj
packages
